/*CSS do Portal do Cerrado 2013 UNUCET-UEG*/
/*Feito por Pedro Henrique Vieira Guimar√£es*/
/*pvieiraguimaraes@gmail.com*/

html {
  height: 100%;
 }

body{
    background: #FFF;
    font-size:14px;
    font-family: Arial;
    height: 100%;
    background-color: rgb(250, 248, 248);
}

/* Esquema para ajustar o RODAPE no fim da pagina */
#allcontent {
    min-height: 100%;
    position: relative;

}

* html #allcontent {
    height: 100%; /* hack para IE6 que trata height como min-height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#content {
  padding-bottom: 60px;
}

.clear {
  clear: both;
}

/*Menu principal e Logo*/
#header {
     width: 1000px;
     margin-right:auto;
     margin-left: auto;
     height: 150px;
}

.top30{
    margin-top:10px;
}

.logo {
    display: inline-block;
    width: 315px;
    height: 145px;
    margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../img/logoportal.png");
    background-repeat: no-repeat;
    margin-top: 1px;
}

#main-menu {
    margin-top: 70px;
    font-size: initial;
}

/*Linha de separa√ß√£o do conte√∫do*/
.top-line{
    background: #20A52B;
    margin-top: 10px;
    margin-bottom: 20px;
    width:100%;
    height:5px;
}

/*Logo dos Parceiros e patrocinadores*/
.parceiros {
  margin-bottom: 30px;
}


/*Classes auto rolagem conheca o cerrado*/
.bs-docs-sidenav {
  width: 170px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}

.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

/*Conteudo da Sidebar do Conheca o Cerrado*/
#contentsidebar {
  padding-left: 160px;
}

/*Sidebar do conheca o cerrado*/
#sidebarcerrado {
  margin-left: 60px;
}

a {
  cursor: pointer;
}

/*Classes dos Rodap√©s*/
.gray-bg {
    background:repeat scroll 0 0 #48887B;
    border-top: 1px solid #FCFCFC;
    color: #F5F5F5;
    outline: 1px solid #A0A0A0;
    font-size: initial;
    text-align: center;
    padding: 18.5px 0;
}

.slider {
    font-size: large;
    text-align: justify;
    margin-right: 60px;
    margin-left: 60px;
}

#navbar{
    position: fixed;
    left: 35px;
    background: #fff;
}

/*ESTILO DOS SUBITEM DO PAINEL DE COLE«’ES*/
.subItem {
	width: auto;
	height: 30px;
	float: left;
	z-index: 3;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
	color: rgb(255, 255, 255);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#subItemA {
	color: white;
}

/*CONFIGURA«√O DO GIF CARREGANDO*/
#loading {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -32px;
	margin-top: -32px;
	display: none;
}

/*INFO QUANTIDADE DE REGISTROS*/
#infoTable {
	font-size: 10px;
	color: gray;
}

#numberByPage {
	width: 60px;
}

/*CONFERIDO ATE AQUI*/
a.
tipGlossario {
  position:relative; 
  /*font-size:12px;*/ 
  /*color:#039;*/
  text-decoration:none;
  cursor:help; 
  }

  a.tooltipGlossario:hover {
  background:transparent;
  color:#f00;
  z-index:25; 

  }
  a.tooltipGlossario span{display: none
  }

  a.tooltipGlossario:hover span { 
  display:block;
  position:absolute;
  width:410px; 
  top:20px;
  left:0;
  font-size: 12px;
  padding:5px;
  border:1px solid #999;
  background:#e0ffff; 
  color:#000;
  }