<div class="container">
	<h1>Coleções Biológicas</h1>
	<hr>
</div>

<div id="one" class="colecoes">
	<ol>
		<!-- $BeginBlock colection -->
		<li>
			<h2>
				<span>${nameItem}</span>
			</h2>
			<div>
				<figure>
					<div style="width: 800px; position: absolute;">
						<!-- $BeginBlock subColection -->
						<div class="subItem"
							style="padding-left: 25px; margin-top: 25px; padding-top: 15px; margin-left: 5px; padding-right: 15px; text-align: left;">
							<a id="subItemA" href="detalhecolecao/${idSubItem}">${subNameItem}</a>
						</div>
						<!-- $EndBlock subColection -->
					</div>
					<img src="${imageItem}" alt="image" />
					<figcaption style="padding-left: 60px; text-align: justify;" class="ap-caption">${descriptionItem}</figcaption>
				</figure>
			</div>
		</li>
		<!-- $EndBlock colection -->
	</ol>
</div>