<div id="sidebarcerrado" class="span3">
	<div id="navbar" class="bs-docs-sidenav">
		<ul class="nav nav-list">
			<li><a href="#introducao"><i class="icon-chevron-right"></i>Introdução</a></li>
			<li><a href="#colecoes"><i class="icon-chevron-right"></i>Coleções
					Biológicas</a></li>
			<li><a href="#biodiversidade"><i class="icon-chevron-right"></i>Biodiversidade</a></li>
			<li><a href="#espacoaluno"><i class="icon-chevron-right"></i>Espaço
					do Aluno</a></li>
			<li><a href="#espacoprofessor"><i class="icon-chevron-right"></i>Espaço
					do Professor</a></li>
		</ul>
	</div>
</div>
<div id="contentsidebar" class="span10">
	<!-- Introdução	================================================== -->
	<section id="introducao">
		<div class="page-header">
			<h1>1. Introdução</h1>
		</div>
		<div class="row-fluid">
			<div class="justify">
				<p>O Cerrado é o segundo maior bioma brasileiro, cuja extensão
					já ocupou 24% do território nacional. Atualmente, mais da metade do
					Cerrado já foi desmatada para formação de pastagens, plantações e
					expansão urbana, como pode ser visto no mapa da Conservation
					International. O desmatamento sobre a região do Cerrado ameaça a
					sua biodiversidade, fato que elegeu esse bioma como um dos 25
					hotspots mundiais.</p>
				<a id="lk1" onClick="readmore(this)" class="linkrm">Leia Mais...</a>
				<div class="readmore">
					<p>O Cerrado se estende por grande parte do Brasil Central,
						incluindo oito estados e faz fronteira com quatro outros biomas
						brasileiros (a Amazônia ao norte, a Caatinga a nordeste, o
						Pantanal a sudoeste e a Mata Atlântica a sudeste). O clima é
						estacional com verão chuvoso e inverno seco, cujas temperaturas
						variam em média de 22°C a 27°C e a precipitação média anual não
						ultrapassa 1500 mm. As nascentes de três grandes bacias
						hidrográficas (Platina, Araguaia/Tocantins e São Francisco) se
						localizam nas chapadas do Cerrado.</p>
					<p>A vegetação do Cerrado é um mosaico de fitofisionomias e
						compreende desde formações campestres, savânicas e florestais, que
						variam de acordo com o tipo de solo, altitude e composição
						florística, como pode ser visto no esquema da EMBRAPA. A flora do
						Cerrado possui mais de 12 mil espécies vegetais, das quais 35% são
						das áreas savânicas, 30% das florestas, 25% de áreas campestres. A
						fauna do Cerrado possui cerca de 200 espécies de mamíferos, 850 de
						aves, 180 de répteis, 150 de anfíbios, 1200 de peixes e quase
						70.000 de invertebrados. Boa parte dessas espécies tem
						distribuição regionalmente restrita e alto nível de endemismo.
						Entretanto, a pesquisa científica na região do Cerrado é
						incipiente e a riqueza de espécies é subestimada.</p>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<ul class="thumbnails">
				<li class="span3"><img
					src="./img/featured/mapaconservation.jpg" alt=""></li>
				<li class="span9"><img src="./img/featured/fitofisionomias.png"
					alt="">
					<h4>Starter template Basic marketing site</h4>
					<p>A barebones HTML document with all the Bootstrap CSS and
						JavaScript included.</p>
					<p>Featuring a hero unit for a primary message and three
						supporting elements.</p></li>
			</ul>
		</div>
	</section>

	<!-- Coleções	================================================== -->
	<section id="colecoes">
		<div class="page-header">
			<h1>2. Coleções Biológicas</h1>
		</div>
		<div class="row-fluid">
			<div class="justify">
				<p>As coleções biológicas podem ajudar a preservar a diversidade
					biológica em condições in situ (zoológicos, aquários, terrários) e
					ex situ (museus, coleções científicas). O objetivo básico das
					coleções científicas é armazenar, conservar e organizar o acervo de
					espécimes que representam a biodiversidade local, regional e global
					no presente e no passado. Simultaneamente, uma coleção científica é
					uma ferramenta que possibilita organizar e arquivar bancos de dados
					para fins de pesquisa e de divulgação científica.</p>
				<p>O conhecimento da biodiversidade envolve quatro etapas
					principais: 1) coleta de indivíduos/ amostras em seus hábitats; 2)
					preparação; 3) triagem, catalogação e identificação em
					laboratórios; e 4) a inserção desses registros em coleções
					científicas de instituições de pesquisa/ ensino. As coleções
					biológicas da UnUCET/UEG estão distribuídas em laboratórios sob
					curadoria por um docente pesquisador de cada linha de pesquisa,
					assim organizados:</p>
			</div>
		</div>
	</section>

	<!-- Biodiversidade ================================================== -->
	<section id="biodiversidade">
		<div class="page-header">
			<h1>3. Biodiversidade</h1>
		</div>
		<div class="row-fluid">
			<div class="justify">
				<p>O Brasil é um país que possui uma das maiores diversidades
					biológicas do mundo. Atualmente há quase 2 milhões de espécies no
					mundo e cerca de 200 mil espécies são conhecidas no Brasil. O
					segundo maior bioma brasileiro é o Cerrado e é considerado a savana
					mais rica do mundo, pois abriga 5% da biodiversidade do planeta e
					cerca de 33% da biodiversidade brasileira (Tabela 1: dados de
					2004). Entretanto, a riqueza de espécies do Cerrado pode estar
					subestimada, pois novas espécies ainda têm sido descritas nas
					regiões menos exploradas cientificamente.</p>
			</div>
		</div>
		<div class="row-fluid span8">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Grupo</th>
						<th>Cerrado</th>
						<th>Brasil (%)</th>
						<th>Brasil</th>
						<th>Mundo</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Plantas</td>
						<td>6600</td>
						<td>12,0</td>
						<td>55000</td>
						<td>280000</td>
					</tr>
					<tr>
						<td>Mamíferos</td>
						<td>212</td>
						<td>40,5</td>
						<td>524</td>
						<td>4600</td>
					</tr>
					<tr>
						<td>Aves</td>
						<td>837</td>
						<td>49,9</td>
						<td>1600</td>
						<td>9700</td>
					</tr>
					<tr>
						<td>Répteis</td>
						<td>180</td>
						<td>38,5</td>
						<td>468</td>
						<td>6500</td>
					</tr>
					<tr>
						<td>Anfíbios</td>
						<td>150</td>
						<td>29,0</td>
						<td>517</td>
						<td>4200</td>
					</tr>
					<tr>
						<td>Peixes</td>
						<td>1200</td>
						<td>45,0</td>
						<td>2700</td>
						<td>24800</td>
					</tr>
					<tr>
						<td>Invertebrados</td>
						<td>67000</td>
						<td>20,0</td>
						<td>335000</td>
						<td>± 2 milhões</td>
					</tr>
				</tbody>
			</table>
		</div>
		<hr>

		<a id="lk2" onClick="readmore(this)" class="linkrm">Leia Mais...</a>
		<div class="readmore justify row-fluid">
			<p>O grupo das Angiospermas é o mais diversificado entre as
				plantas do Cerrado. Mais de 40% das plantas superiores e mais de 70%
				das herbáceas são endêmicas do Cerrado. As espécies endêmicas,
				quando comparadas àquelas de distribuição geográfica mais ampla, são
				mais especializadas e mais susceptíveis à extinção, em função das
				mudanças ambientais provocadas pelo ser humano, daí a necessidade de
				conhecê-las e conservá-las. De modo geral, 35% das plantas do
				Cerrado são típicas do Cerrado sentido restrito, 30% são de matas de
				galeria e 25% de áreas campestres. Há 563 espécies na lista das
				espécies ameaçadas de extinção. O padrão de distribuição das
				espécies vegetais é determinado por variações na altitude e
				latitude.</p>
			<p>Existem cerca de 320.000 espécies de animais no Cerrado, 0,6%
				são vertebrados e 28% são insetos.Há quase 200 espécies de mamíferos
				no Cerrado, das quais cerca de 40% são morcegos. Apenas 8% dos
				mamíferos são endêmicos do Cerrado e 23 espécies constam da lista
				das espécies ameaçadas de extinção. A maioria dos pequenos mamíferos
				está concentrada em ambientes abertos de campo e cerrado. Há mais de
				800 espécies de aves no Cerrado, das quais mais de 80% está
				associada a ambientes florestais. Menos de 4% das aves do Cerrado
				são endêmicas e 25 espécies constam da lista das espécies ameaçadas
				de extinção. As espécies de aves mais antigas (± 3 milhões de anos
				atrás) evoluíram junto com as formações campestres e savânicas e as
				mais recentes evoluíram associadas às formações florestais.</p>
			<p>Há cerca de 180 espécies de répteis descritas para o Cerrado,
				das quais 40% são compostas pela fauna de lagartos. Duas espécies de
				lagartos estão registradas como ameaçadas de extinção:
				Heterodactylus lundii e Placosoma cipoense. Há mais espécies de
				répteis endêmicas no Cerrado do que de anfíbios, aves e mamíferos:
				45% dos lagartos e 53% de anfisbenas. A maioria dos lagartos
				endêmicos ocorre nos campos e cerrados, os ambientes mais desmatados
				do Cerrado, o que pode resultar na extinção dessas espécies.</p>
			<p>Há cerca de 150 espécies de anfíbios no Cerrado. A perereca
				Bokermannohyla izecksohni está na lista de espécies ameaçada de
				extinções.Há cerca de 1200 espécies de peixes no Cerrado. 38
				espécies estão na lista de espécies ameaçada de extinções.Há quase
				70 mil espécies de invertebrados no Cerrado, distribuídos em
				ambientes terrestres e aquáticos. Em três ordens de insetos –
				Lepidoptera, Hymenoptera e Isoptera – o número de espécies estimado
				para o Cerrado representa quase 50% da fauna brasileira. Há 39
				espécies na lista de espécies ameaçada de extinções.</p>
		</div>
	</section>

	<!-- Espaço Aluno	================================================== -->
	<section id="espacoaluno">
		<div class="page-header">
			<h1>4. Espaço do Aluno</h1>
		</div>
		<div class="row-fluid">
			<ul class="thumbnails">
				<li class="span3"><a class="thumbnail"
					href="index?page=fichastecnicas"> <img src="./img/book.png" alt="">
				</a>
					<div align="center">
						<h3>Fichas Técnicas</h3>
					</div></li>
				<li class="span3"><a class="thumbnail" href="index?page=jogos">
						<img src="./img/play.png" alt="">
				</a>
					<div align="center">
						<h3>Jogos</h3>
					</div></li>
			</ul>
		</div>
	</section>

	<!-- Espaço Aluno	================================================== -->
	<section id="espacoprofessor">
		<div class="page-header">
			<h1>5. Espaço do Professor</h1>
		</div>
		<div class="row-fluid">
			<div class="justify">
				<p>Aqui estará o espaço do professor.</p>
			</div>
		</div>
	</section>
</div>