<!-- $BeginBlock itensColection -->
<tr>
	<td><a href="#"><img height="50px" align="middle"
			src="${itemPathFoto}"></a></td>
	<td>${itemReino}</td>
	<td>${itemFilo}</td>
	<td>${itemClasse}</td>
	<td>${itemOrder}</td>
	<td>${itemFamily}</td>
	<td>${itemGenery}</td>
	<td>${itemEptEspecify}</td>
	<td align="center"><a href="detalheitemcolecao/${idEspecime}"
		data-target="#detalhes" data-toggle="modal"> <img align="middle"
			src="/PortalSite/img/search.png" border="0">
	</a></td>
</tr>
<!-- $EndBlock itensColection -->