<div>
	<div class="container" style="text-align: center;">
		<h2>Itens da Coleção</h2>
			<h1 style="color: black;">${colectionName}</h1>
		<hr>
	</div>

	<table cellpadding="0" cellspacing="0" border="0" class="table table-hover bordered-table">
		<thead>
			<tr>
				<th>Imagem</th>
				<th>Reino</th>
				<th>Filo</th>
				<th>Classe</th>
				<th>Ordem</th>
				<th>Família</th>
				<th>Gênero</th>
				<th>Epíteto Específico</th>
				<th>Detalhes</th>
			</tr>
		</thead>
		<tbody id="colectionsdetails">
			
			<!-- $include containerdetalhecolecao.html -->
			
		</tbody>
	</table>
	<div id="infoTable" align="center"></div>
	<div id="paginador" align="center"></div>

	<script type="text/javascript" src="../js/detalhecolecao.js"></script>
</div>