<div id="topcontent">
	<div id="header">
		<div class="span4 top30">
			<i class="logo"></i>
		</div>
		<div class="navbar navbar-fixed-top">
			<ul id="main-menu" class="nav pull-right">
				<li><a href="${absoluteSitePath}index.html">Início</a></li>
				<li><a href="${absoluteSitePath}conhecaocerrado.html">Conheça o Cerrado</a></li>
				<li><a href="${absoluteSitePath}passeiovirtual.html">Passeio Virtual</a></li>
				<li><a href="${absoluteSitePath}equipe.html">Equipe</a></li>
				<li><a href="${absoluteSitePath}contatos.html">Contatos</a></li>
			</ul>
		</div>
	</div>
	<!-- linha verde -->
	<div class="top-line"></div>
</div>