<div class="well">
	<h1>Jogos</h1>
	<p>Espaço reservado para os jogos que proporcionará diversão e
		conhecimento aos nossos estudantes.</p>
</div>
<div class="row-fluid">
<!-- 		<li class="span3"> -->
<!-- 			<a class="thumbnail" href="./jogos/ppt/Quiz-Hymenoptera/index.htm"> -->
<!-- 				<img src="./jogos/ppt/Quiz-Hymenoptera/img0.png" width="220px" height="168px"> -->
<!-- 			</a> -->
<!-- 			<div align="center"> -->
<!-- 				<h3>Quiz Hymenoptera</h3> -->
<!-- 			</div> -->
<!-- 		</li> -->
		
	<ul>
		<li class="span3">
			<img src="./img/crossword.png" height="168px">
		</li>
		<div align="center">
			<h3>Cruzadinhas</h3>
		</div>
		<!-- $BeginBlock cruzadinha -->
		<li class="span3">
			<a href="${linkcruzadinha}">${nomecruzadinha}</a>
		</li>
		<!-- $EndBlock cruzadinha -->
	</ul>
			
</div>